.myFace {
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
	z-index: 2;
}

p {
	text-align: justify;
}

.aboutMeBtn {
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
}

.aboutMeBtn:hover {
	background-color: #A0917C;
}

.aboutMeTitle {
	background-color: #A0917C;
	border-style: solid;
	border-color: #333333;
	box-shadow: 3px 3px 2px #888888;
}

